
hr {
  /*border: 2px solid red !important;*/
  height: 1px !important;
  width: 100% !important;
  background: black !important;
  display: block !important;
  /*font-size: 2em !important;*/
  opacity: 1 !important;
  visibility: visible !important;
}

.custom_title {
  padding: 0;
}
