
<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="categories">
      <ion-icon name=book></ion-icon>
      <ion-label name="Categorías">Categorías</ion-label>
    </ion-tab-button>

    <!--<ion-tab-button tab="highligts">
      <ion-icon name=flame></ion-icon>
      <ion-label name="Destacados"></ion-label>
    </ion-tab-button>-->

    <ion-tab-button tab="map">
      <ion-icon name=map></ion-icon>
      <ion-label name="Mapa">Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="news">
      <ion-icon name=paper></ion-icon>
      <ion-label name="Noticias">Noticias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="events">
      <ion-icon name=calendar></ion-icon>
      <ion-label name="Eventos">Eventos</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
